.story-table {
  margin-top: 5vw;
  width: 90vw;
  position: fixed;
  transform: translate(5vw);
  border-collapse: collapse;
  border-spacing: 3px 1em;
}

.header {
  background-color: black;
  height: 5vh;
  color: white;
  margin-bottom: 10px;
}

.row {
  margin-top: 2vh;
  font-weight: bold;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

.rejected {
  color: red;
}

.accepted {
  color: green;
}
